@namespace MdcHR26Apps.BlazorServer.Components.Pages.Components.Form
@rendermode InteractiveServer
@using MdcHR26Apps.Models.Common

@if (IsDisabled)
{
    <div class="input-group mb-3">
        <span class="input-group-text w-20">@Label</span>
        <InputText class="form-control" @bind-Value="BindValue" disabled />
    </div>
}
else
{
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label for="@Id" class="form-label">@Label 선택</label>
        <div class="input-group mb-3">
            <span class="input-group-text w-20">@Label</span>
            <InputSelect id="@Id" class="form-select" @bind-Value="BindValue">
                @if (string.IsNullOrEmpty(BindValue))
                {
                    <option value="" selected disabled>@Label 를 선택하세요</option>
                }
                @foreach (var item in list)
                {
                    <option value="@item.Text">@item.Text</option>
                }
            </InputSelect>
        </div>
    }
}

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? BindValue { get; set; }
    [Parameter] public List<SelectListModel> list { get; set; } = new();
    [Parameter] public bool IsDisabled { get; set; } = false;
    [Parameter] public EventCallback<string> OnValueChanged { get; set; }
}
