@page "/SubAgreement/User/Create"

<PageTitle>세부 직무 생성</PageTitle>

<h3>세부 직무 생성</h3>

@if (model == null)
{
    <LoadingIndicator />
}
else
{
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="model">
                <FormSelectList Label="평가지표" BindValue="@model.Report_Item_Name_1" list="list1" OnInput="SetList2" />

                @if (list2 != null && list2.Count > 0)
                {
                    <hr />
                    <FormSelectList Label="평가직무" BindValue="@model.Report_Item_Name_2" list="@list2" OnInput="SetList3" />

                    @if (list3 != null && list3.Count > 0)
                    {
                        <hr />
                        <FormSelectList Label="세부평가직무" BindValue="@model.Report_SubItem_Name" list="@list3" OnInput="SetReportSubItemName" />
                        <FormSelectNumber Label="세부평가비중" peroportion="@peroportion" maxperoportion="@maxperoportion" PeroportionChanged="HandlePeroportionChanged" />
                        <hr />
                        @*Todolist 세부업무리스트*@
                        <div class="card">
                            <div class="card-header">
                                @if (!TaskCollapsed)
                                {
                                    <h5>
                                        세부 업무 리스트(@taskCount 개)
                                        <span @onclick="@TaskToggle" class="oi oi-plus mr-1" />
                                    </h5>
                                    @if (!isUnLimitedTask)
                                    {
                                        <p><em>최대 세부 업무 수 : 2 개</em></p>
                                    }
                                }
                                else
                                {
                                    <h5>
                                        세부 업무 리스트(@taskCount 개)
                                        <span @onclick="@TaskToggle" class="oi oi-minus mr-1" />
                                    </h5>
                                    @if (!isUnLimitedTask)
                                    {
                                        <p><em>최대 세부 업무 수 : 2 개</em></p>
                                    }
                                }
                            </div>
                            <div class="card-body">
                                @if (TaskCollapsed)
                                {
                                    <FormAgreeTask tasks="@tasklist" OnDeleteTask="@DeleteTask" />
                                }
                            </div>
                        </div>
                        <hr />
                        @*Todolist 세부업무*@
                        <div class="card">
                            <div class="card-header">
                                @if (!TaskCreateCollapsed)
                                {
                                    <h5>
                                        세부 업무 생성
                                        <span @onclick="@TaskCreateToggle" class="oi oi-plus mr-1" />
                                    </h5>
                                }
                                else
                                {
                                    <h5>
                                        세부 업무 생성
                                        <span @onclick="@TaskCreateToggle" class="oi oi-minus mr-1" />
                                    </h5>
                                }
                            </div>
                            @if (TaskCreateCollapsed)
                            {
                                <div class="card-body">
                                    <FormAgreeTaskCreate task="@tasks" OnCreateTask="HandleValidSubmit" />
                                </div>
                                <DisplayResultText Comment="@addTaskErrorText" />
                                @if (!String.IsNullOrEmpty(addTaskErrorText))
                                {
                                    <p><em>3초 후 다시 작성해주세요.</em></p>
                                }
                            }
                        </div>
                        <hr />
                        @if (@maxperoportion == 0)
                        {
                            <div class="input-group mb-1">
                                <button class="btn btn-outline-primary" @onclick="MoveUserSubAgreementMainPage">목록</button>
                            </div>
                            <hr />
                            <p><em>설정가능한 평가비중이 없습니다.</em></p>
                            <p><em>다른 평가의 평가비중을 조정해 주세요.</em></p>
                        }
                        else if (tasklist.Count == 0)
                        {
                            <div class="input-group mb-1">
                                <button class="btn btn-outline-primary" @onclick="MoveUserSubAgreementMainPage">목록</button>
                            </div>
                            <hr />
                            <p><em>세부 업무가 아직 작성이 되지 않았습니다.</em></p>
                            <p><em>세부 업무를 작성해 주세요.</em></p>
                        }
                        else
                        {
                            @if (tasklist.Count > 2 && !isUnLimitedTask)
                            {
                                <p><em>세부 업무 작성는 최대 2개까지 가능합니다.(현재 개수 : @tasklist.Count().ToString() 개)</em></p>
                                <p><em>세부 업무 수를 조정해 주세요.</em></p>
                            }
                            else
                            {
                                <div class="input-group mb-1">
                                    <button id="createbutton" class="btn btn-primary" @onclick="CreateUserSubAgreement">생성</button>
                                </div>
                            }
                        }
                    }
                }
            </EditForm>
        </div>
    </div>
    <DisplayResultText Comment="@resultText" />
}
