@page "/Admin/Settings/Ranks/Create"
@rendermode InteractiveServer
@using MdcHR26Apps.BlazorServer.Components.Pages.Components.Common

<PageTitle>직급 등록</PageTitle>

<h3>직급 등록</h3>
<hr />

<DisplayResultText Comment="@resultText" />

@if (model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <EditForm Model="model" OnValidSubmit="SaveRank">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <label for="ERankNo" class="form-label mb-1">직급번호</label>
                <div class="input-group mb-1">
                    <InputNumber id="ERankNo" class="form-control"
                                 @bind-Value="@model.ERankNo" />
                    <button type="button" class="btn btn-primary"
                            @onclick="@(() => CheckRankNo(model.ERankNo))">중복체크</button>
                </div>
                <div class="mb-1" style="@resultRankNoColor">@resultRankNo</div>

                <label for="ERankName" class="form-label mb-1">직급명</label>
                <div class="input-group mb-1">
                    <InputText id="ERankName" class="form-control"
                               @bind-Value="@model.ERankName" />
                </div>

                <label for="ActivateStatus" class="form-label mb-1">사용여부</label>
                <div class="input-group mb-1">
                    <InputCheckbox id="ActivateStatus" @bind-Value="@model.ActivateStatus" />
                </div>

                <label for="Remarks" class="form-label mb-1">비고</label>
                <div class="input-group mb-1">
                    <InputTextArea id="Remarks" class="form-control"
                                   rows="3"
                                   @bind-Value="@model.Remarks" />
                </div>

                <hr />
                <div class="input-group mb-1">
                    <button type="submit" class="btn btn-primary">저장</button>
                    <button type="button" class="btn btn-light"
                            @onclick="MoveSettingManagePage">목록</button>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {

}
